.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 16px 16%;
}

.footer {
    display: none;
}

@media (max-width: 400px) {
    .main {
        grid-template-columns: repeat(1, 1fr);
        margin: 16px 40px;
    }

    .catalog-header {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}